<table>
    <tbody>
        <tr>
            <th>Current version</th>
            <td>
                {% if site.data.releaseinfo.current.release_url == null %}
                    {% if site.data.releaseinfo.current.release == null %}
                        None
                    {% else %}
                        {{ site.data.releaseinfo.current.release }}
                    {% endif %}
                {% else %}
                    <a href="{{ site.data.releaseinfo.current.release_url }}">{{ site.data.releaseinfo.current.release }}</a>
                {% endif %}
            </td>
            <td>
                {% if site.data.releaseinfo.current.prerelease_url == null %}
                    {% if site.data.releaseinfo.current.prerelease == null %}
                        None
                    {% else %}
                        {{ site.data.releaseinfo.current.prerelease }}
                    {% endif %}
                {% else %}
                    <a href="{{ site.data.releaseinfo.current.prerelease_url }}">{{ site.data.releaseinfo.current.prerelease }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Next version</th>
            <td colspan="2">
                {% if site.data.releaseinfo.next.prerelease_url == null %}
                    {% if site.data.releaseinfo.next.prerelease == null %}
                        None
                    {% else %}
                        {{ site.data.releaseinfo.next.prerelease }}
                    {% endif %}
                {% else %}
                    <a href="{{ site.data.releaseinfo.next.prerelease_url }}">{{ site.data.releaseinfo.next.prerelease }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Next next version</th>
            <td colspan="2">
                {% if site.data.releaseinfo.next_next.prerelease_url == null %}
                    {% if site.data.releaseinfo.next_next.prerelease == null %}
                        None
                    {% else %}
                        {{ site.data.releaseinfo.next_next.prerelease }}
                    {% endif %}
                {% else %}
                    <a href="{{ site.data.releaseinfo.next_next.prerelease_url }}">{{ site.data.releaseinfo.next_next.prerelease }}</a>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>